@model LisasTours.Models.ViewModels.CompanyVM

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту компанию из базы?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Сайт
        </dt>
        <dd>
            <a href="http://@Html.DisplayFor(model => model.Site)" target="_blank">@Html.DisplayFor(model => model.Site)</a>
        </dd>
        <dt>
            Направления
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessLineNames)
        </dd>
        <dt>
            Регионы
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AffiliationNames)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
